<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Reservierungsanfrage</title>
</head>
<body>

<div class="container" style="margin-top:50px">
    <div class="container-fluid">
        <div class="wrapper row">
            <div class="preview col-md-4">
                <img th:if="${artikel.fotos.isEmpty()}" th:src="'../fotos/kein-bild-vorhanden'"
                     class="img-thumbnail img-sm" style="width:100px; height:100px; margin-right:20px"/>
                <div class="gallery" th:unless="${artikel.fotos.isEmpty()}" th:each = "foto: ${artikel.fotos}" >
                    <a target="_blank" th:href= "@{'../fotos/' + ${foto}}">
                        <img th:src="@{'../fotos/' + ${foto}}" alt="FOTO" width="300" height="200">
                    </a>
                </div>
            </div>

            <div class="details col-md-6">
                <h3 class="product-title" th:text="${artikel.titel}">Akkuschrauber</h3>
                <p></p>
                <p class="product-description" th:text="${artikel.beschreibung}">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
                <p><b>Preis pro Tag: </b><span th:text="${artikel.kostenTag + '€'}">10 €</span></p>
                <p><b>Kaution: </b><span th:text="${artikel.kaution + '€'}">100 €</span></p>
                <p><b>Eigentümer: </b><span th:text="${(artikel.eigentuemer != null) ? artikel.eigentuemer.name : 'NA'}">Jon Doe</span></p>
                <p><b>Standort: </b><span th:text="${artikel.standort.adressAusgabe()}">Düsseldorf Uni</span></p>
                <p><b>Reservierungen: </b>
                    <span th:if="${alleReservierungen.isEmpty()}">Keine Reservierung vorhanden</span>
                    <span th:unless="${alleReservierungen.isEmpty()}">
                            <ul th:each="reservierung: ${alleReservierungen}">
                                <li th:text="${reservierung.printReservierungsDauer()}"></li>
                            </ul>
                        </span></p>

                    <div th:if="${error == 1}" class="alert alert-danger">
                        <strong>Fehler!</strong> Sie können Ihren eigenen Artikel nicht reservieren!
                    </div>
                    <div th:if="${error == 2}" class="alert alert-danger">
                        <strong>Fehler!</strong> Nicht genug verfügbares Propay Guthaben!
                    </div>
                    <div th:if="${error == 3}" class="alert alert-danger">
                        <strong>Fehler!</strong> Reseveriungszeitraum ungültig!
                    </div>

                <form th:object="${reservierung}" th:action="@{/reservieren}" method="post">
                    <input type="hidden" th:field="${artikel.id}">
                    Start Datum deiner Reservierung:
                    <input type="date" th:field="*{start}"><br><br>
                    End Datum deine Reservierung:
                    <input type="date" th:field="*{ende}"><br><br>


                    <div class="action" style="margin-top: 10px">

                        <p>
                            <button th:if="${proPayReachable}" type="submit" class="btn btn-primary"> Anfrage Senden </button>
                            <a th:unless="${proPayReachable}"
                               class="btn btn-outline-danger btn-md">ProPay
                                <span class="badge badge-danger">ERROR!</span>
                            </a>
                        </p>
                        <a href="/" class="btn btn-outline-primary">Zurück zur Übersicht</a>
                    </div>
                </form>
            </div>
            <div class="details col-md-2">
                <div class="alert alert-success" role="alert" th:if="${artikel.verfuegbar}">Verfügbar</div>
                <div class="alert alert-danger" role="alert" th:unless="${artikel.verfuegbar}">Nicht Verfügbar</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
