<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <title>Artikel erstellen</title>
</head>
<body>

<div class="container" style="margin-top:50px">

    <div class="container-fluid">

        <div class="row justify-content-center">
            <aside class="col-sm-6 ">
                <div class="card">
                    <article class="card-body">
                     <!--   <a href="/benutzer/?{id}" class="float-right btn btn-outline-primary">Zurück zur Übersicht</a> -->
                        <h4 class="card-title mb-4 mt-1">Artikel erstellen</h4>

                        <form method="post" th:action="@{/artikel_erstellen}">

                            <input type="hidden" value="1" name="id" th:value="${artikel.id}">
                            <input type="hidden" value="true" name="aktiv"/>
                            <input type="hidden" value="true" name="verfuegbar"/>


                            <div class="form-group">
                                <label for="titel">Titel</label>
                                <input class="form-control" placeholder="Artikelbezeichnung" type="text" name="titel" th:value="${artikel.titel}"/>
                            </div> <!-- form-group// -->

                            <div class="form-group">
                                <label for="beschreibung">Beschreibung</label>
                                <input class="form-control" placeholder="Artikelbeschreibung" type="text" name="beschreibung" th:value="${artikel.beschreibung}"/>
                            </div> <!-- form-group// -->

                            <div class="form-group">
                                <label for="kostenTag">Preis pro Tag</label>
                                <input class="form-control" placeholder="Preis pro Tag" type="text" name="kostenTag" th:value="${artikel.kostenTag}"/>
                            </div>

                            <div class="form-group">
                                <label for="kaution">Kaution</label>
                                <input class="form-control" placeholder="Kaution" type="text" name="kaution" th:value="${artikel.kaution}"/>
                            </div>

                            <div class="form-group">
                                <label for="standort">Standort</label>
                                <p><input class="form-control col-sm-8 float-left" placeholder="Strasse" type="text" th:value="${standort.strasse}" th:field="*{standort.strasse}"/>
                                    <input class="form-control col-sm-4" placeholder="HausNr" type="text" th:value="${standort.hausnummer}" th:field="*{standort.hausnummer}"/></p>
                                <p><input class="form-control col-sm-4 float-left" placeholder="Plz" type="text" th:value="${standort.plz}" th:field="*{standort.plz}"/>
                                    <input class="form-control col-sm-8" placeholder="Ort" type="text" th:value="${standort.ort}" th:field="*{standort.ort}"/></p>
                            </div>

                            <div class="form-group" style="margin-top:20px">
                                <button type="submit" class="btn btn-primary btn-block"> Weiter </button>
                            </div> <!-- form-group// -->
                            </input>
                        </form>
                    </article>
                </div> <!-- card.// -->

            </aside>
        </div>
    </div>
</div>

</body>
</html>