<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Profil</title>
</head>
<body>


<div class="container" style="margin-top:50px">
    <div class="action">
        <a href="/" class="float-right btn btn-outline-primary">Zurück zur Übersicht</a>
    </div>

    <div class="container-fluid">
        <section class="row">
            <div class="col-md-8">
                <h1>Dein Profil</h1>
            </div>
        </section>
    </div>

    <div class="details col-md-6">
        <p><span style="font-weight: bold;">Name: </span><span th:text="${benutzer.name}">Jens Bendisposto</span></p>
        <p><span style="font-weight: bold;">E-mail: </span><span th:text="${benutzer.email}">email@gmail.com</span></p>
    </div>

    <div th:each="warnung: ${alleWarnungen}">
        <p class="alert alert-danger" role="alert" style="font-size:22px">Die Leihfrist für den Artikel <span style="font-weight:bold" th:text="${warnung.artikel.titel}">Akkuschrauber</span> ist abgelaufen!</p>
    </div>

    <div class="container-fluid">
        <section class="row">
            <div class="col-md-8">
                <h3>Deine Artikel zum Ausleihen</h3>
            </div>
        </section>
    </div>

    <div class="card">
        <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
            <tr>
                <th scope="col" width="400">Artikel</th>
                <th scope="col" width="100">Preis</th>
                <th scope="col" width="100">Kaution</th>
                <th scope="col" width="200">Status</th>
                <th scope="col" width="200"></th>
                <th scope="col" width="100"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="artikel: ${alleArtikel}">
                <td>
                    <figure class="media">
                        <div class="img-wrap">
                            <img th:src="${(artikel.fotos.isEmpty() == false ) ? '../fotos/' + artikel.fotos.get(0) : '../fotos/kein-bild-vorhanden'}"
                                 class="img-thumbnail img-sm" style="width:100px; height:100px; min-width:100px; margin-right:20px"
                            />
                        </div>

                        <figcaption class="media-body">
                            <h4 th:text="${artikel.titel}" class="title text-truncate">Akkuschrauber</h4>
                        </figcaption>
                    </figure>
                </td>
                <td>
                    <div class="price-wrap">
                        <var class="price" th:text="|${artikel.kostenTag} €|">10€</var>
                        <small class="text-muted">pro Tag</small>
                    </div>
                </td>
                <td>
                    <div class="price-wrap">
                        <var class="price" th:text="|${artikel.kaution} €|">100€</var>
                    </div>
                </td>
                <td>
                    <p class="alert alert-success" role="alert" th:if="${artikel.verfuegbar}">Verfügbar</p>
                    <p class="alert alert-danger" role="alert" th:unless="${artikel.verfuegbar}">Nicht Verfügbar</p>
                </td>
                <td class="text-right" th:if="${artikel.verfuegbar}">
                    <a class="btn btn-outline-danger" th:if="${artikel.aktiv}" th:href="@{/artikel_update/{id}/false (id=${artikel.id})}">Deaktivieren</a>
                    <a class="btn btn-outline-success" th:unless="${artikel.aktiv}" th:href="@{/artikel_update/{id}/true (id=${artikel.id})}">Aktivieren</a>
                </td>
                <td class="text-right">
                    <a class="btn btn-outline-danger" th:href="@{'/details?id=' + ${artikel.id}}"
                       href="/details?id=id" >Details</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="container-fluid">
        <section class="row">
            <div class="col-md-8">
                <h3>Deine Artikel zum Verkauf</h3>
            </div>
        </section>
    </div>

    <div class="card">
        <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
            <tr>
                <th scope="col" width="400">Artikel</th>
                <th scope="col" width="100">Preis</th>
                <th scope="col" width="200">Status</th>
                <th scope="col" width="100"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="verkaufartikel: ${alleVerkaufArtikel}">
                <td>
                    <figure class="media">
                        <div class="img-wrap">
                            <img th:src="${(verkaufartikel.fotos.isEmpty() == false ) ? '../fotos/' + verkaufartikel.fotos.get(0) : '../fotos/kein-bild-vorhanden'}"
                                 class="img-thumbnail img-sm" style="width:100px; height:100px; min-width:100px; margin-right:20px"
                            />
                        </div>

                        <figcaption class="media-body">
                            <h4 th:text="${verkaufartikel.titel}" class="title text-truncate">Akkuschrauber</h4>
                        </figcaption>
                    </figure>
                </td>
                <td>
                    <div class="price-wrap">
                        <var class="price" th:text="|${verkaufartikel.verkaufsPreis} €|">100€</var>
                    </div>
                </td>
                <td>
                    <p class="alert alert-success" role="alert" th:if="${verkaufartikel.verfuegbar}">Verfügbar</p>
                    <p class="alert alert-danger" role="alert" th:unless="${verkaufartikel.verfuegbar}">Nicht Verfügbar</p>
                </td>
                <td class="text-right">
                    <a class="btn btn-outline-danger" th:href="@{'/verkauf/details?id=' + ${verkaufartikel.id}}">Details</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>



    <div class="container-fluid" style="margin-top:50px">
        <section class="row">
            <div class="col-md-8">
                <h3>Von dir angefragte Artikel</h3>
            </div>
        </section>
    </div>

    <div class="card">
        <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
            <tr>
                <th scope="col" width="400">Artikel</th>
                <th scope="col" width="150">Start/Ende</th>
                <th scope="col" width="200">Status</th>
                <th scope="col" width="300"></th>
                <th scope="col" width="108"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reservierung: ${alleReservierungen}">
                <td>
                    <figure class="media">
                        <div class="img-wrap">
                            <img th:src="${(reservierung.artikel.fotos.isEmpty() == false ) ? '../fotos/' + reservierung.artikel.fotos.get(0) : '../fotos/kein-bild-vorhanden'}"
                                 class="img-thumbnail img-sm" style="width:100px; height:100px; min-width:100px; margin-right:20px"
                            />
                        </div>
                        <figcaption class="media-body">
                            <h4 th:text="${reservierung.artikel.titel}" class="title text-truncate">Akkuschrauber</h4>
                        </figcaption>
                    </figure>
                </td>

                <td>
                    <div class="date-wrap">
                        <var class="date" th:text="|${reservierung.printFormattedStart()}|">1.1.2019</var></br>
                        <var class="date" th:text="|${reservierung.printFormattedEnde()}|">31.12.2019</var>
                    </div>
                </td>
                <td>
                    <p class="alert alert-warning" role="alert" th:if="${reservierung.ermittleStatus() == 1}">Anfrage in Bearbeitung</p>
                    <p class="alert alert-danger" role="alert" th:if="${reservierung.ermittleStatus() == 2}">Anfrage abgelehnt</p>
                    <p class="alert alert-success" role="alert" th:if="${reservierung.ermittleStatus() == 3}">Anfrage akzeptiert</p>
                    <p class="alert alert-success" role="alert" th:if="${reservierung.ermittleStatus() == 4}">Ausleihe läuft</p>
                    <p class="alert alert-secondary" role="alert" th:if="${reservierung.ermittleStatus() == 5}">Verleih abgeschlossen</p>
                    <p class="alert alert-danger" role="alert" th:if="${reservierung.ermittleStatus() == 6}">Ausleihfrist abgelaufen</p>
                    <p class="alert alert-danger" role="alert" th:if="${reservierung.ermittleStatus() == 7}">Bearbeitungsfrist abgelaufen</p>

                </td>
                <td class="btn">
                    <a class="btn btn-danger" th:if="${reservierung.ermittleStatus() != 5 and reservierung.akzeptiert == true}" th:href="@{'/beschwerde?id=' + ${reservierung.id}}">Beschweren</a>
                    <a class="btn btn-secondary" th:unless="${reservierung.bearbeitet}" th:href="@{/reservierung_update/{id}/false (id=${reservierung.id})}">Reservierung zurückziehen</a>
                    <a class="btn btn-outline-danger" th:href="@{'/details?id=' + ${reservierung.artikel.id}}">Details</a>
                </td>
                <td>
                    <a th:if="${reservierung.ermittleStatus() == 5}" class="btn btn-secondary" th:href="@{/reservierung_sichtbar/{id} (id=${reservierung.id})}">Ausblenden</a>
                    <a th:if="${reservierung.ermittleStatus() == 2}" class="btn btn-secondary" th:href="@{/reservierung_sichtbar/{id} (id=${reservierung.id})}">Ausblenden</a>
                    <a th:if="${reservierung.ermittleStatus() == 7}" class="btn btn-secondary" th:href="@{/reservierung_sichtbar/{id} (id=${reservierung.id})}">Ausblenden</a>
                    <a th:if="${reservierung.zurueckgegeben == false and reservierung.akzeptiert == true}" class="btn btn-secondary" th:href="@{/reservierung_zurueckgeben/{id} (id=${reservierung.id})}">Zurückgeben</a>
                </td>
            </tr>

            <tr th:each="verkauf: ${alleVerkaeufe}">
                <td>
                    <figure class="media">
                        <div class="img-wrap">
                            <img th:src="${(verkauf.artikel.fotos.isEmpty() == false ) ? '../fotos/' + verkauf.artikel.fotos.get(0) : '../fotos/kein-bild-vorhanden'}"
                                 class="img-thumbnail img-sm" style="width:100px; height:100px; min-width:100px; margin-right:20px"
                            />
                        </div>
                        <figcaption class="media-body">
                            <h4 th:text="${verkauf.artikel.titel}" class="title text-truncate">Akkuschrauber</h4>
                        </figcaption>
                    </figure>
                </td>

                <td>
                   <p style="font-weight:bold">Verkauf</p>
                </td>
                <td>
                    <p class="alert alert-warning" role="alert" th:if="${verkauf.ermittleStatus() == 1}">Anfrage in Bearbeitung</p>
                    <p class="alert alert-danger" role="alert" th:if="${verkauf.ermittleStatus() == 2}">Anfrage abgelehnt</p>
                    <p class="alert alert-success" role="alert" th:if="${verkauf.ermittleStatus() == 3}">Anfrage akzeptiert</p>
                </td>
                <td class="btn">
                    <a class="btn btn-danger" th:if="${verkauf.akzeptiert}" th:href="@{'/loeschen?id=' + ${verkauf.id}}">Erhalten</a>
                    <a class="btn btn-secondary" th:unless="${verkauf.bearbeitet}" th:href="@{/verkauf_update/{id}/false (id=${verkauf.id})}">Kauf zurückziehen</a>
                    <a class="btn btn-outline-danger" th:href="@{'/verkauf/details?id=' + ${verkauf.artikel.id}}">Details</a>
                </td>
                <td>
                    <a th:if="${verkauf.ermittleStatus() == 2}" class="btn btn-secondary" th:href="@{/verkauf_sichtbar/{id} (id=${verkauf.id})}">Ausblenden</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    
    
    <div class="container-fluid" style="margin-top:50px">
        <section class="row">
            <div class="col-md-8">
                <h3>Anfragen an dich</h3>
            </div>
        </section>
    </div>

    <div class="card">
        <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
            <tr>
                <th scope="col" width="400">Artikel</th>
                <th scope="col" width="150">Start/Ende</th>
                <th scope="col" width="200">Bearbeitet</th>
                <th scope="col" width="100">Angefragt von</th>
                <th scope="col" width="100"></th>
            </tr>
            </thead>
            <tr>
            <tr th:each="reservierung: ${alleAnfragen}">
                <td>
                    <figure class="media">
                        <div class="img-wrap">
                            <img th:src="${(reservierung.artikel.fotos.isEmpty() == false ) ? '../fotos/' + reservierung.artikel.fotos.get(0) : '../fotos/kein-bild-vorhanden'}"
                                 class="img-thumbnail img-sm" style="width:100px; height:100px; min-width:100px; margin-right:20px"
                            />
                        </div>

                        <figcaption class="media-body">
                            <h4 th:text="${reservierung.artikel.titel}" class="title text-truncate">Akkuschrauber</h4>
                        </figcaption>
                    </figure>
                </td>

                <td>
                    <div class="date-wrap">
                        <var class="date" th:text="|${reservierung.printFormattedStart()}|">1.1.2019</var></br>
                        <var class="date" th:text="|${reservierung.printFormattedEnde()}|">31.12.2019</var>
                    </div>
                </td>
                <td>
                    <a th:if="${reservierung.ermittleStatus() == 7}" class="btn btn-secondary" th:href="@{/reservierung_sichtbar/{id} (id=${reservierung.id})}">Ausblenden</a>
                    <div class="btn-group" role="group" aria-label="..." th:unless="${reservierung.ermittleStatus() == 7}">
                        <a class="btn btn-success" th:href="@{/reservierung_update/{id}/true (id=${reservierung.id})}">Akzeptieren</a>
                        <a class="btn btn-danger" th:href="@{/reservierung_update/{id}/false (id=${reservierung.id})}">Ablehnen</a>
                    </div>
                </td>

                <td>
                    <p th:text="${reservierung.leihender.name}"></p>
                </td>
                <td class="text-right">
                    <a class="btn btn-outline-danger" th:href="@{'/details?id=' + ${reservierung.artikel.id}}">Details</a>
                </td>
            </tr>

            <tr th:each="verkauf: ${alleVerkaufAnfragen}">
                <td>
                    <figure class="media">
                        <div class="img-wrap">
                            <img th:src="${(verkauf.artikel.fotos.isEmpty() == false ) ? '../fotos/' + verkauf.artikel.fotos.get(0) : '../fotos/kein-bild-vorhanden'}"
                                 class="img-thumbnail img-sm" style="width:100px; height:100px; min-width:100px; margin-right:20px"
                            />
                        </div>

                        <figcaption class="media-body">
                            <h4 th:text="${verkauf.artikel.titel}" class="title text-truncate">Akkuschrauber</h4>
                        </figcaption>
                    </figure>
                </td>

                <td>
                    <p style="font-weight:bold">Verkauf</p>
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <a class="btn btn-success" th:href="@{/verkauf_update/{id}/true (id=${verkauf.id})}">Akzeptieren</a>
                        <a class="btn btn-danger" th:href="@{/verkauf_update/{id}/false (id=${verkauf.id})}">Ablehnen</a>
                    </div>
                </td>

                <td>
                    <p th:text="${verkauf.kaeufer.name}"></p>
                </td>
                <td class="text-right">
                    <a class="btn btn-outline-danger" th:href="@{'/verkauf/details?id=' + ${verkauf.artikel.id}}">Details</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="container-fluid" style="margin-top:50px">
        <section class="row">
            <div class="col-md-8">
                <h3>Aktuell verliehene Artikel</h3>
            </div>
        </section>
    </div>

    <div class="card">
        <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
            <tr>
                <th scope="col" width="400">Artikel</th>
                <th scope="col" width="160">Start/Ende</th>
                <th scope="col" width="100">Ausgeliehen von</th>
                <th scope="col" width="200"></th>
                <th scope="col" width="200"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reservierung: ${aktuelleAusleihen}">
                <td>
                    <figure class="media">

                        <div class="img-wrap">
                            <img th:src="${(reservierung.artikel.fotos.isEmpty() == false ) ? '../fotos/' + reservierung.artikel.fotos.get(0) : '../fotos/kein-bild-vorhanden'}"
                                 class="img-thumbnail img-sm" style="width:100px; height:100px; min-width:100px; margin-right:20px"
                            />
                        </div>

                        <figcaption class="media-body">
                            <h4 th:text="${reservierung.artikel.titel}" class="title text-truncate">Akkuschrauber</h4>
                        </figcaption>
                    </figure>
                </td>

                <td>
                    <div class="date-wrap">
                        <var class="date" th:text="|${reservierung.printFormattedStart()}|">1.1.2019</var></br>
                        <var class="date" th:text="|${reservierung.printFormattedEnde()}|">31.12.2019</var>
                    </div>
                </td>

                <td>
                    <p th:text="${reservierung.leihender.name}"></p>
                </td>

                <td class="text-right">
                    <a class="btn btn-danger" th:href="@{'/beschwerde?id=' + ${reservierung.id}}">Beschweren</a>
                </td>

                <td class="text-right" th:if="${reservierung.zurueckgegeben}">
                    <a class="btn btn-success" th:href="@{/reservierung_update/{id} (id=${reservierung.id})}">Zurückerhalten</a>
                </td>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>