<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <title>Profil</title>
</head>
<body>


<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"> -->

<div class="container" style="margin-top:50px">
    <div class="action">
        <a href="/" class="float-right btn btn-outline-primary">Zurück zur Übersicht</a>
    </div>

    <div class="container-fluid">
        <section class="row">
            <div class="col-md-8">
                <h1>Dein Profil</h1>
            </div>
        </section>
    </div>

    <div class="details col-md-6">

        <p><span style="font-weight: bold;">Name: </span><span th:text="${benutzer.name}">Jens Bendisposto</span></p>
        <p><span style="font-weight: bold;">E-mail: </span><span th:text="${benutzer.email}">email@gmail.com</span></p>
        <p>
            <a th:if="${proPayReachable}"
               class="btn btn-outline-secondary btn-md" href="/proPay_details">ProPay
                <span class="badge badge-secondary" th:text="|${proPayUser.amount} €|">7</span>
            </a>
            <a th:unless="${proPayReachable}"
               class="btn btn-outline-danger btn-md">ProPay
                <span class="badge badge-danger">Nicht Erreichbar</span>
            </a>


        </p>


    </div>

    <div class="container-fluid">
        <section class="row">
            <div class="col-md-8">
                <h3>Deine Artikel</h3>
            </div>
        </section>
    </div>

    <div class="card">
        <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
            <tr>
                <th scope="col">Artikel</th>
                <th scope="col" width="160">Preis</th>
                <th scope="col" width="160">Kaution</th>
                <th scope="col" width="100">Vefügbarkeit</th>
                <th scope="col" width="200"> </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="artikel: ${alleArtikel}">
                <td>
                    <figure class="media">

                        <div class="img-wrap">

                            <img th:src="${(artikel.fotos.isEmpty() == false ) ? '../fotos/' + artikel.fotos.get(0) : '../fotos/kein-bild-vorhanden'}"
                                 class="img-thumbnail img-sm" style="width:100px; height:100px; margin-right:20px"
                            />

                        </div>

                        <figcaption class="media-body">
                            <h4 th:text="${artikel.titel}" class="title text-truncate">Akkuschrauber</h4>
                        </figcaption>
                    </figure>
                </td>

                <td>
                    <div class="price-wrap">
                        <var class="price" th:text="|${artikel.kostenTag} €|">10€</var>
                        <small class="text-muted">pro Tag</small>
                    </div>
                </td>
                <td>
                    <div class="price-wrap">
                        <var class="price" th:text="|${artikel.kaution} €|">100€</var>
                    </div>
                </td>
                <td>

                    <span class="bg-success rounded-circle" th:if="${artikel.verfuegbar}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="bg-danger rounded-circle" th:unless="${artikel.verfuegbar}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </td>
                <td class="text-right">
                    <!-- <a title="" href="" class="btn btn-outline-success" data-toggle="tooltip" data-original-title="Save to Wishlist"> <i class="fa fa-heart"></i></a>-->
                    <a th:href="@{'/details?id=' + ${artikel.id}}"
                       href="/details?id=id" class="btn btn-outline-danger">Details</a>
                </td>
            </tbody>
        </table>
    </div>



    <div class="container-fluid" style="margin-top:50px">
        <section class="row">
            <div class="col-md-8">
                <h3>Deine Reservierungen</h3>
            </div>
        </section>
    </div>

    <div class="card">
        <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
            <tr>
                <th scope="col">Artikel</th>
                <th scope="col" width="160">Start</th>
                <th scope="col" width="160">Ende</th>
                <th scope="col" width="100">Bearbeitet</th>
                <th scope="col" width="100">Akzeptiert</th>
                <th scope="col" width="200"> </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reservierung: ${alleReservierungen}">
                <td>
                    <figure class="media">

                        <div class="img-wrap">

                            <img th:src="${(reservierung.artikel.fotos.isEmpty() == false ) ? '../fotos/' + artikel.fotos.get(0) : '../fotos/kein-bild-vorhanden'}"
                                 class="img-thumbnail img-sm" style="width:100px; height:100px; margin-right:20px"
                            />

                        </div>

                        <figcaption class="media-body">
                            <h4 th:text="${reservierung.artikel.titel}" class="title text-truncate">Akkuschrauber</h4>
                        </figcaption>
                    </figure>
                </td>

                <td>
                    <div class="date-wrap">
                        <var class="date" th:text="|${reservierung.printFormattedStart()}|">1.1.2019</var>
                    </div>
                </td>
                <td>
                    <div class="date-wrap">
                        <var class="date" th:text="|${reservierung.printFormattedEnde()}|">31.12.2019</var>
                    </div>
                </td>
                <td>
                    <span class="bg-success rounded-circle" th:if="${reservierung.bearbeitet}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="bg-danger rounded-circle" th:unless="${reservierung.bearbeitet}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </td>

                <td>
                    <span class="bg-success rounded-circle" th:if="${reservierung.akzeptiert}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="bg-danger rounded-circle" th:unless="${reservierung.akzeptiert}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </td>
                <td class="text-right">
                    <!-- <a title="" href="" class="btn btn-outline-success" data-toggle="tooltip" data-original-title="Save to Wishlist"> <i class="fa fa-heart"></i></a>-->
                    <a th:href="@{'/details?id=' + ${reservierung.artikel.id}}"
                       href="/details?id=id" class="btn btn-outline-danger">Details</a>
                    <a th:href="@{'/beschwerde?id=' + ${reservierung.id}}"
                       href="/beschwerde?id=id" class="btn btn-outline-danger">Beschweren</a>
                </td>
            </tbody>
        </table>
    </div>
    
    
    <div class="container-fluid" style="margin-top:50px">
        <section class="row">
            <div class="col-md-8">
                <h3>Deine Anfragen</h3>
            </div>
        </section>
    </div>

    <div class="card">
        <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
            <tr>
                <th scope="col">Artikel</th>
                <th scope="col" width="160">Start</th>
                <th scope="col" width="160">Ende</th>
                <th scope="col" width="100">Bearbeitet</th>
                <th scope="col" width="100">Akzeptiert</th>
                <th scope="col" width="200"> </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reservierung: ${alleAnfragen}">
                <td>
                    <figure class="media">

                        <div class="img-wrap">

                            <img th:src="${(reservierung.artikel.fotos.isEmpty() == false ) ? '../fotos/' + artikel.fotos.get(0) : '../fotos/kein-bild-vorhanden'}"
                                 class="img-thumbnail img-sm" style="width:100px; height:100px; margin-right:20px"
                            />

                        </div>

                        <figcaption class="media-body">
                            <h4 th:text="${reservierung.artikel.titel}" class="title text-truncate">Akkuschrauber</h4>
                        </figcaption>
                    </figure>
                </td>

                <td>
                    <div class="date-wrap">
                        <var class="date" th:text="|${reservierung.printFormattedStart()}|">1.1.2019</var>
                    </div>
                </td>
                <td>
                    <div class="date-wrap">
                        <var class="date" th:text="|${reservierung.printFormattedEnde()}|">31.12.2019</var>
                    </div>
                </td>
                <td>
                    <span class="bg-success rounded-circle" th:if="${reservierung.bearbeitet}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="bg-danger rounded-circle" th:unless="${reservierung.bearbeitet}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </td>

                <td>
                    <span class="bg-success rounded-circle" th:if="${reservierung.akzeptiert}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="bg-danger rounded-circle" th:unless="${reservierung.akzeptiert}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </td>
                <td class="text-right">
                    <!-- <a title="" href="" class="btn btn-outline-success" data-toggle="tooltip" data-original-title="Save to Wishlist"> <i class="fa fa-heart"></i></a>-->
                    <a th:href="@{'/details?id=' + ${reservierung.artikel.id}}"
                       href="/details?id=id" class="btn btn-outline-danger">Details</a>
                    <a th:href="@{'/beschwerde?id=' + ${reservierung.id}}"
                       href="/beschwerde?id=id" class="btn btn-outline-danger">Beschweren</a>
                </td>
            </tbody>
        </table>
    </div>
</div>



</body>
</html>