<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ProPay Details</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>

<div class="container" style="margin: 50px">

    <div class="container-fluid">
        <section class="row">
            <div class="col-md-6">
                <h1>Deine ProPay Übersicht</h1>
            </div>
            <div class="col-md-6">

            <a class="btn float-right" role="group">

                <a href="/profil_ansicht" class="btn btn-warning">Profilübersicht</a>

            </a>
        </div>
        </section>
    </div>

</div>

</body>
</html>